<section class="d-flex flex-column align-items-center gap-4">
    <div id="account-icon">
        <i class="bi bi-person-fill"></i>
    </div>
    <div class="d-flex flex-column align-items-center">
        <p class="m-0"><span class="fw-bold">Name: </span><span id="display-name">{{config.userInfo.name}}</span></p>
        <p class="m-0"><span class="fw-bold">Email: </span><span id="display-email">{{config.userInfo.email}}</span></p>
        <p class="m-0"><span class="fw-bold">Role: </span><span id="display-role">{{config.userInfo.role}}</span></p>
        <p class="m-0"><span class="fw-bold">Status: </span><span id="display-status">{{config.userInfo.status}}</span></p>
        <p class="m-0"><span class="fw-bold">Location: </span><span id="display-location">{{config.userInfo.location}}</span></p>
        <p class="m-0"><span class="fw-bold">Pincode: </span><span id="display-pincode">{{config.userInfo.pincode}}</span></p>
        {% if config.userInfo.role == 'professional' %}
        <p class="m-0"><span class="fw-bold">Description: </span><span id="display-description">{{config.professionalInfo.description}}</span></p>
        <p class="m-0"><span class="fw-bold">Service: </span><span id="display-service">{{config.service.name}}</span></p>
        <p class="m-0"><span class="fw-bold">Experience: </span><span id="display-experience">{{config.professionalInfo.experience|float}} yrs</span></p>
        <p class="m-0"><span class="fw-bold">Price: </span><span id="display-price">{{config.professionalInfo.price|float}} Rs</span></p>
        <p class="m-0"><span class="fw-bold">Duration: </span><span id="display-duration">{{config.professionalInfo.duration|float}} hrs</span></p>
        <p class="m-0"><span class="fw-bold">Rating: </span><span id="display-rating">{{config.professionalInfo.rating|float}}</span></p>
        {% endif %}
        {% set time = config.userInfo.createdAt | to_datetime %}
        <p class="m-0"><span class="fw-bold">Created At: </span><span id="display-createdAt">{{time}}</span></p>
    </div>
    <div>
        {% if config.userInfo.role != 'admin' %}
        <button class="btn btn-dark" id="edit-account-info-btn" data-bs-toggle="modal" data-bs-target="#account-info-edit-modal">Edit Info</button>
        {% endif %}
        <button class="btn btn-danger" id="account-logout-btn">Logout</button>
    </div>
</section>

<div class="modal fade" id="account-info-edit-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Account Info</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="account-info-edit-modal-close-btn"></button>
            </div>
            <div class="modal-body" id="account-info-edit-modal-body">
                <div class="mb-3">
                    <label for="name" class="form-label fw-bold">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{config.userInfo.name}}">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label fw-bold">Location</label>
                    <input type="text" class="form-control" id="location" name="location" value="{{config.userInfo.location}}">
                </div>
                <div class="mb-3">
                    <label for="pincode" class="form-label fw-bold">Pincode</label>
                    <input type="number" maxlength="6" class="form-control" id="pincode" name="pincode" value="{{config.userInfo.pincode}}">
                </div>
                {% if config.userInfo.role == 'professional' %}
                <div class="mb-3">
                    <label for="description" class="form-label fw-bold">Description</label>
                    <input type="text" class="form-control" id="description" data-type="professional" name="description" value="{{config.professionalInfo.description|float}}">
                </div>
                <div class="mb-3">
                    <label for="experience" class="form-label fw-bold">Experience</label>
                    <input type="number" class="form-control" id="experience" data-type="professional" name="experience" value="{{config.professionalInfo.experience|float}}">
                </div>
                <div class="mb-3">
                    <label for="duration" class="form-label fw-bold">Duration</label>
                    <input type="number" class="form-control" id="duration" data-type="professional" name="duration" value="{{config.professionalInfo.duration|float}}">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label fw-bold">Price</label>
                    <input type="number" class="form-control" id="price" data-type="professional" name="price" value="{{config.professionalInfo.price|float}}">
                </div>
                {% endif %}
            </div>
            <div class="modal-footer" id="account-info-edit-modal-footer">
                <button type="button" class="btn btn-dark" disabled id="account-info-edit-btn">Update</button>
            </div>
        </div>
    </div>
</div>